.button {
    background: $pri;
    color: $white;
    border: 0;
    padding: .5em 1em;
    cursor: pointer;
    font-size: 1em;
    font-weight: 700;
    text-transform: uppercase;
    border-radius: 999em;

    &:hover,
    &:focus {
        background: darken($pri, 10%);
    }
}

.back-button {
    display: block;
    width: 2em;
    height: 2em;
    border-radius: 100%;
    background-color: $pri;
    background-image: url(../img/back_arrow.svg);
    background-position: 44% center;
    background-size: 54%;
    background-repeat: no-repeat;

    &:hover,
    &:focus {
        background-color: darken($pri, 10%);
    }
}